* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    color: #555;
    font: 400 85% Helvetica,Arial,Tahoma,Sans-Serif;
}

/* ------------------------------------------------------------------------- */

#main {
	margin: 20px;
}

#title, .title {
	font-size: 2em;
	font-weight: bold;
	margin-bottom: 10px;
	border-bottom: 1px #ccc solid;
}

.title {
	font-size: 1.2em;
}

.panel {
	margin: 20px;
}